{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>

<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>{{ app_name }}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="alternate icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/fav.png' %}" />
	<link rel="icon" type="image/svg" sizes="32x32" href="{% static 'img/favicons/fav.svg' %}" />

	{% render_bundle 'vendor' 'css' %}
  	{% render_bundle 'main' 'css' %}
	
</head>

<body>

    <!-- Content -->
    <div class="content">
	  {% block content %}{% endblock content %}
    </div>
    <!-- Content -->

	{% render_bundle 'vendor' 'js' %}
	{% render_bundle 'main' 'js' %}

</body>

</html>