{# INDEX TEMPLATE #}
{% extends "../layouts/default.html" %}
{% load static %}

{% block content %}
    HOME PAGE
    <br>
    <img src="{% static 'img/avatar/guillaume.jpg' %}" width="100" height="100" alt="" />
    <div id="root"></div>
{% endblock content %}