{# SAMPLE TEMPLATE #}
{% extends "../layouts/default.html" %}
{% load static %}

{% block content %}

    <h1>SAMPLE</h1>

    <div>COLLECT_STATIC_DIR : {{ collect_static_dir }}</div>
    <div>BASE_DIR : {{ base_dir }}</div>
    <div>PATH : {{ base_dir|add:path }}</div>
    <div>PATH : {{ request.path }}</div>
    <div>URL : {{request.scheme}}://{{request.get_host}}{{ request.path }}</div>

    <div>

        <img src="{% static 'img/avatar/guillaume.jpg' %}" width="100" height="100" alt="" />

        <div>
            {% if author.first_name %}
                {{ author.first_name|title }}
                {{ author.last_name|upper }}
            {% endif %}
        </div>

        <div>
            {% if extra %}
                {{ extra|lower }}
            {% endif %}
        <div>
        
        {% for sample in samples %}
            <li>{{ sample.name }}</li>
        {% endfor %}
    </div>

    <div>

        <form id="form_add" action="" method="post">
            {% csrf_token %}
            <input name="new_sample" id="new_sample" />
            <input type="button" id="new_sample_bt" value="Ajouter" />
        </form>
        <script>
        
            document.getElementById("new_sample_bt").addEventListener('click', function() {
				
                document.getElementById("form_add").submit();

			}, false);
        
        </script>
    
    </div>

    <div>
        {{ markdown|safe }}
    </div>

    <div id="root"></div>

{% endblock content %}